Repository AlexWayfer/formalism-model_forms: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: toys rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Remove `module_methods` from `Gemfile`
  Gemfile
Due: rubocop, rspec

Take out version to a separated file
  formalism-model_forms.gemspec
  lib/formalism/model_forms/version.rb
Due: rubocop, rspec

Update RuboCop config to a new template
  .rubocop.yml
Due: rubocop

Update to new dependecies
  lib/formalism/model_forms.rb
  lib/formalism/model_forms/_base.rb
  lib/formalism/model_forms/delete.rb
  lib/formalism/model_forms/find.rb
  lib/formalism/model_forms/list.rb
  lib/formalism/model_forms/move.rb
  lib/formalism/model_forms/select.rb
  lib/formalism/model_forms/update.rb
  spec/formalism-model_forms/version_spec.rb
Due: rubocop, rspec

Update version to 0.1.0
  CHANGELOG.md
  LICENSE.txt
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Update `flame-pagination` to version `0.3.0`
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update version to 0.2.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Remove debug actions
  lib/formalism/model_forms.rb
Due: rubocop, rspec

Update version to 0.3.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Update `codecov` dependency to working version
  formalism-model_forms.gemspec
Due: rubocop, rspec

Remopve `puts` about `define_for_project` steps
  lib/formalism/model_forms.rb
Due: rubocop, rspec

Update version to 0.4.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Update Cirrus CI config
  .cirrus.yml
Due: remark, rubocop, rspec

Add links for Cirrus and Depfu badges, fix link to LICENSE
  README.md
Due: remark

Add more links (metadata) into `gemspec`
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update to a new gem template
  .rubocop.yml
  .toys.rb
  formalism-model_forms.gemspec
Due: rubocop, rspec

Require `forwardable` before its usage
  lib/formalism/model_forms/_base.rb
Due: rubocop, rspec

Update version to 0.5.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Drop `rubocop` and `rspec` toys, just use `bundle exec`
  .cirrus.yml
  .toys.rb
Due: remark, rubocop, rspec

Remove `include :exec` inside `subtool_apply`
  .toys.rb
Due: rubocop

Use relative link to LICENSE in the README badge
  README.md
Due: remark

Improve documentation in README
  README.md
Due: remark

Fix complex error with `name` of anonymous classes and `inherited`
  formalism-model_forms.gemspec
  lib/formalism/model_forms.rb
  spec/formalism/model_forms/version_spec.rb
  spec/formalism/model_forms_spec.rb
Due: rubocop, rspec

Use correct assigned constants, fix broken lookup
  lib/formalism/model_forms/_base.rb
  lib/formalism/model_forms/list.rb
Due: rubocop, rspec

Fix `Base#initialize` for cases when there are no `static_cache` plugin at all
  lib/formalism/model_forms/_base.rb
Due: rubocop, rspec

Update version to 0.6.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Fix case when there is instance and `nil` params for `Update` form
  .rubocop.yml
  lib/formalism/model_forms/update.rb
  spec/formalism/model_forms/update_spec.rb
  spec/formalism/model_forms_spec.rb
  spec/spec_helper.rb
Due: rubocop, rspec

Update version to 0.6.1
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Update `formalism` to a new version
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update version to 0.6.2
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Require relative files for a `FindOrCreate` form
  lib/formalism/model_forms/find_or_create.rb
Due: rubocop, rspec

Fix `errors_key` for nested `Find` form of `FindOrCreate`
  lib/formalism/model_forms/find_or_create.rb
Due: rubocop, rspec

Add an ability to change a primary key field for `Update` form
  lib/formalism/model_forms/update.rb
Due: rubocop, rspec

Add `primary_field` for some forms, don't lock on `id` field
  lib/formalism/model_forms/_base.rb
  lib/formalism/model_forms/delete.rb
  lib/formalism/model_forms/find.rb
  lib/formalism/model_forms/list.rb
  lib/formalism/model_forms/move.rb
  lib/formalism/model_forms/select.rb
  lib/formalism/model_forms/update.rb
Due: rubocop, rspec

Update version to 0.7.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Fix `Delete` form for models without `auditable` plugin
  lib/formalism/model_forms/delete.rb
Due: rubocop, rspec

Update version to 0.7.1
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Update `remark` to new major version
  .remarkrc.yaml
  package.json
Due: remark

Path conditions:
  remark: any of: .cirrus.yml, package.json, .remarkrc.*, **/*.md
  rubocop: any of: .cirrus.yml, Gemfile, Rakefile, *.gemspec, .rubocop.yml, **/*.rb, **/*.ru
  rspec: any of: .cirrus.yml, Gemfile, Rakefile, *.gemspec, .rspec, lib/**/*, spec/**/*
