Repository AlexWayfer/formalism-model_forms: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.*', '**.md'
    )

rubocop_task:
  container:
    image: ruby
  <<: *bundle_cache
  lint_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '*.gemspec', '.rubocop.yml',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      - image: ruby:2.6
      - image: ruby:2.7
      - image: ruby:3.0
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[d76209e4dedca30b97bcc3821a5cb08927a2123aa15fb259458aeb3aeadd29c3bcec40082d5d9b1d03e35e5625dea41a]
  test_script: bundle exec rspec
  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '*.gemspec', '.rspec',
      'lib/**', 'spec/**'
    )

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.*', '**.md'
    )

rubocop_task:
  container:
    image: ruby
  <<: *bundle_cache
  lint_script: toys rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '*.gemspec', '.rubocop.yml',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[d76209e4dedca30b97bcc3821a5cb08927a2123aa15fb259458aeb3aeadd29c3bcec40082d5d9b1d03e35e5625dea41a]
  test_script: toys rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '*.gemspec', '.rspec',
      'lib/**', 'spec/**'
    )

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  formalism-model_forms.gemspec
  spec/spec_helper.rb
Due: remark, rubocop, rspec

Update version to 0.10.1
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  formalism-model_forms.gemspec
Due: remark, rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update Toys dependencies
  Gemfile
Due: rubocop, rspec

Disable RuboCop's `Lint/RedundantSafeNavigation`, required for logic
  lib/formalism/model_forms/_base.rb
Due: rubocop, rspec

Resolve new RuboCop offense
  lib/formalism/model_forms/update.rb
Due: rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  formalism-model_forms.gemspec
Due: remark, rubocop, rspec

Lock `rubocop-performance` version more strict
  Gemfile
Due: rubocop, rspec

Resolve new RuboCop offense
  lib/formalism/model_forms.rb
Due: rubocop, rspec

Resolve new RuboCop Performance offense
  lib/formalism/model_forms/update.rb
Due: rubocop, rspec

Fail `remark` on any warning
  package.json
Due: remark

Configure `remark-lint-list-item-indent` after `remark-preset-lint-recommended` update
  .remarkrc.yaml
Due: remark

Update RuboCop dependencies
  Gemfile
Due: rubocop, rspec

Resolve new RuboCop offenses
  lib/formalism/model_forms/_base.rb
  lib/formalism/model_forms/find.rb
Due: rubocop, rspec

Change model in specs from `Struct` to `Sequel::Model`
  spec/formalism/model_forms/update_spec.rb
  spec/spec_helper.rb
Due: rubocop, rspec

Add specs for Find model form
  spec/formalism/model_forms/find_spec.rb
  spec/spec_helper.rb
Due: rubocop, rspec

Add specs for redefining field in Find model form
  formalism-model_forms.gemspec
  spec/formalism/model_forms/find_spec.rb
  spec/spec_helper.rb
Due: rubocop, rspec

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Lock Ruby version more strict
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update version to 0.11.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Configure Renovate
  renovate.json
Due: none

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Exclude ignored by git files for RuboCop
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about private constants
  lib/formalism/model_forms.rb
  lib/formalism/model_forms/move.rb
Due: rubocop, rspec

Resolve new RuboCop offenses about newlines after modules
  lib/formalism/model_forms/_base.rb
  lib/formalism/model_forms/list.rb
Due: rubocop, rspec

Resolve new RuboCop offenses about prediction methods
  lib/formalism/model_forms/_base.rb
Due: rubocop, rspec

Resolve new RuboCop offenses about `it_behaves_like`
  spec/formalism/model_forms/find_spec.rb
Due: rubocop, rspec
