Repository AlexWayfer/formalism-model_forms: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
    - image: ruby:2.6
    - image: ruby:2.7
    - image: ruby:3.0
  ...

Resolve new RuboCop offenses about newlines after modules
  lib/formalism/model_forms/_base.rb
  lib/formalism/model_forms/list.rb
Due: rubocop, rspec

Resolve new RuboCop offenses about prediction methods
  lib/formalism/model_forms/_base.rb
Due: rubocop, rspec

Exclude ignored by git files for RuboCop
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `it_behaves_like`
  spec/formalism/model_forms/find_spec.rb
Due: rubocop, rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  formalism-model_forms.gemspec
Due: remark, rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: rubocop, rspec

Update runtime dependencies
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: rubocop, rspec

Resolve new RuboCop offenses
  lib/formalism/model_forms/_base.rb
Due: rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  Gemfile
Due: remark, rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  formalism-model_forms.gemspec
Due: remark, rubocop, rspec

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Improve updating system gems in CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Replace `Rakefile` with `.toys.rb` in CI config
  .cirrus.yaml
Due: remark, rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.*, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.*, **.md)
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, *.gemspec, .rubocop.yml, **.rb, **.ru) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, *.gemspec, .rubocop.yml, **.rb, **.ru)
  rspec: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, *.gemspec, .rspec, lib/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, *.gemspec, .rspec, lib/**, spec/**)
