Repository AlexWayfer/formalism-model_forms: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.*', '**.md'
    )

rubocop_task:
  container:
    image: ruby
  <<: *bundle_cache
  lint_script: toys rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '*.gemspec', '.rubocop.yml',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[d76209e4dedca30b97bcc3821a5cb08927a2123aa15fb259458aeb3aeadd29c3bcec40082d5d9b1d03e35e5625dea41a]
  test_script: toys rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '*.gemspec', '.rspec',
      'lib/**', 'spec/**'
    )

Update `remark` to new major version
  .remarkrc.yaml
  package.json
Due: remark

Fix an issue after 6ac802af0235c96990aa2e4b9875ec278da1ca45
  lib/formalism/model_forms/_base.rb
Due: rubocop, rspec

Update RuboCop and it's plugins, resolve new offenses
  formalism-model_forms.gemspec
  lib/formalism/model_forms.rb
Due: rubocop, rspec

Move `.namespace` method specs from strange place to `update_spec`
  spec/formalism/model_forms/update_spec.rb
  spec/formalism/model_forms_spec.rb
Due: rubocop, rspec

Fix an error when project has no models (and namespace) yet
  lib/formalism/model_forms/_base.rb
  spec/spec_helper.rb
Due: rubocop, rspec

Update version to 0.7.2
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Fix an issue with duplicate keys in Cirrus CI config
  .cirrus.yaml
Due: none

Remove disabling RuboCop for fixed case
  lib/formalism/model_forms.rb
Due: rubocop, rspec

Disable probably false-positive RuboCop offense
  spec/formalism/model_forms/update_spec.rb
Due: rubocop, rspec

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Allow Ruby 3 in gem specs
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update `formalism` to a new version, supporting Ruby 3
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update development dependencies
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update version to 0.8.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Change RSpec namespace a little
  spec/formalism/model_forms/update_spec.rb
Due: rubocop, rspec

Update RuboCop, lock its version better, resolve new offenses
  formalism-model_forms.gemspec
  lib/formalism/model_forms/list.rb
Due: rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
  formalism-model_forms.gemspec
Due: remark, rubocop, rspec

Enable `rubygems_mfa_required`
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update SimpleCov
  formalism-model_forms.gemspec
  spec/spec_helper.rb
Due: rubocop, rspec

Suppress Bundle warnings in CI
  .cirrus.yaml
Due: none

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: none

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  formalism-model_forms.gemspec
Due: rubocop, rspec

Resolve new RuboCop offense
  lib/formalism/model_forms/_base.rb
Due: rubocop, rspec

Make `#instance=` public method
  lib/formalism/model_forms/_base.rb
Due: rubocop, rspec

Update version to 0.9.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Update `formalism` to a new version
  formalism-model_forms.gemspec
Due: rubocop, rspec

Update version to 0.10.0
  CHANGELOG.md
  lib/formalism/model_forms/version.rb
Due: remark, rubocop, rspec

Allow `gorilla_patch` version 5
  formalism-model_forms.gemspec
Due: rubocop, rspec

Support `.yaml` files in EditorConfig
  .editorconfig
Due: none

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: none
